body {
    margin: 0px;
    font-family: sans-serif;
}

.food *,
.navbar *,
.info h3 {
    margin-left: 25px;
}

.navbar {
    background-color: hsl(0, 0%, 0%);
    padding: 1px 1px 0px 1px;

}

.navbar__link {
    text-decoration: none;
}

.navbar__home {
    margin-bottom: 0px;
    margin-top: 5px;
    color: hsl(0 0% 100%);
    text-decoration: none;
    padding-bottom: 5px;
}

.food {
    background-color: hsl(17, 100%, 50%);
    border: 5px hsl(30, 100%, 0%) solid;
}

.food__title {
    text-align: center;
    margin-top: 20px;
}

.food__image {
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;

}

.food__description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.info {
    background-color: hsl(17, 100%, 50%);
    border: hsl(30, 100%, 0%) solid 5px;
    border-top: none;

}

.info__title {
    margin-top: 0px;
    padding-top: 20px;
}