* {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


.navbar-container {
    background-color: hsl(0, 0%, 0%);
    padding: 1px 1px 0px 1px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 1250px;
}

.navbar__link {
    padding: 5px;
    color: hsl(0 0% 100%);
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-right: 10px;
}

.food {
    background-color: hsl(17, 100%, 50%);
    border: 5px hsl(30, 100%, 0%) solid;
    overflow: auto;
}

.food__title {
    text-align: center;
    margin-top: 20px;
}

.food__image {
    width: 400px;
    height: auto;
    display: block;
    float: left;
    padding: 5px;
}

.food__description {
    padding: 5px;
}

.info {
    background-color: hsl(17, 100%, 50%);
    border: hsl(30, 100%, 0%) solid 5px;
    border-top: none;
}

.info__title {
    margin-top: 0px;
    padding-top: 20px;
}